@import 'imports/mixins';
@import 'imports/typography';
@import 'imports/color';

/******************************\
 $ PRIMARY STYLES
 $ AUTHOR: @username
\******************************/

#tea-run {

    position: relative;
    width: 200px;
    height: 100px;

}

#brew-button {

    position: absolute;
    left: 50%;
    top: 50%;
    margin: -20px 0 0 -50px;
    width: 100px;
    height: 40px;
    color: #fff;
    text-transform: uppercase;
    background-color: rgb(20, 140, 255);
    border: none;
    outline: none;

}

@import 'imports/media-queries';