<form id="options">
    <p><label for="name">Name: </label><input type="text" id="name" name="name" value="{{name}}"></p>
    <p><label for="milk">Milk: </label><input type="checkbox" id="milk" name="milk" value="{{milk}}"></p>
    <p><label for="sugars">Sugars: </label><input type="number" id="sugars" name="sugars" value="{{sugars}}"></p>
    <button id="submit">Submit</button>
</form>