@import 'imports/color';
@import 'imports/mixins';

/******************************\
 $ PRIMARY STYLES
 $ AUTHOR: @username 
\******************************/

@import 'imports/media-queries';
body{
	background-color: $bgcolour;
	
}

nav{
	width: 100%;
	height: 25px;
	background-color: $darkgrey;

}
.nav-item{
	float: right;
	color: $lightgrey;
	padding: 2px 10px 0 10px;
	text-decoration: none;
}

.nav-item{

}

footer{

}

h1{
	color: $madpink;
	text-align: center;
	padding: 20px 0;
}

.tea-run-title{
		font-size: 3em;

}


.content-wrapper{
	width: 80%;
	margin: auto

}
.tea-button{
	margin: auto;
	background-color: rgb(133,133,133);
	background-image: url(../img/tea.svg);
	background-repeat: no-repeat;
	background-position: 12px;
	background-size: 55px;
	height: 75px;
	width: 75px;
	@include rounded(8px);
}
.tea-slogan{
	width: 150px;
	text-align: center;
	margin: 10px  auto;
	padding: 10px 0 10px 0;
	color: $grey;
}
.tea-mates ul li{
	text-align: center;

}
.box{
    @include box-emboss(0.8, 0.05);
}
.rounded{
	@include rounded();
}

