@import 'imports/color';
@import 'imports/mixins';

/******************************\
 $ PRIMARY STYLES
 $ AUTHOR: @username
\******************************/

body{
	background-color: $bgcolour;

}

.bar{
	width: 100%;
	height: 5px;
	background-color: $grey;

}

h1{
	color: $blue;
	text-align: center;
	padding: 20px 0;
	font-size: 3.6em	;
	text-transform: uppercase;

}
.tea-slogan{
	width: 150px;
	text-align: center;
	margin:  auto;
	padding: 0 0 15px 0;
	color: $grey;
}
.div-tea-mates {
	width: 320px;
}
li{
	width: 300px;
	height: 70px;
	margin: 20px auto;

	background-color: $lightblue;
	@include rounded(45px);

	img {
	float: left;
	height: 60px;
	width: 60px;
	margin: 5px 0 10px 5px;
	@include rounded(35px);

	@include transition(all,600ms)
	}

	.user-text{
	width: 100px;
	height:40px;
	float: left;
	padding: 15px 0px 15px 15px;
	color: $grey;
	font-size: 1.6em;
	}

	.sugar-amount{
		display: block;
		float: left;
		height: 50px;
		padding: 25px 0px 15px 30px;
		background-image: url(../img/sugar.svg);
		background-repeat: no-repeat;
		background-size: 40px;
		background-position: 0px 15px;
		font-size: 1.4em;
		color: $grey;
	}

	.milk{
		display: block;
		float: left;
		height: 50px;
		width: 20px;padding: 10px 0px 10px 30px;
		background-image: url(../img/milk.svg);
		background-repeat: no-repeat;
		background-size: 14px;
		background-position: 30px 20px;
	}
}



.avatar-image{
	height: 75px;
	width: 75px;
}

.tea-button{
	margin: auto;
	background-color: $blue;
	background-image: url(../img/tea.svg);
	background-repeat: no-repeat;
	background-position: 12px;
	background-size: 55px;
	height: 65px;
	width: 300px;
	@include rounded(8px);

	.make-brew{
	float: right;
	color: $lightgrey;
	padding: 20px 60px 20px 20px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.2em;
	}
}

.rounded{
	@include rounded();
}
.yes{
	background-color: transparentize($green, .7);
	background-image: url(../img/yes.svg);
	background-repeat: no-repeat;
	background-size: 60px;
	background-position: 5px 12px;
	img{

		opacity: 0.1;
	}
}
.no{
	background-color: transparentize($red, .7);
	background-image: url(../img/no.svg);
	background-repeat: no-repeat;
	background-size: 55px;
	background-position: 8px 8px;

	img{
		opacity: 0.1;
	}
}
.expires-in{
	color: $lightgrey;
	text-align: center;
	text-decoration: none;
	font-size: 1.6em;
}

@import 'imports/media-queries';
