$bgcolour: rgb(233,233,233);
$madpink: rgb(235,0,110);
$darkgrey: rgb(45,45,45);
$grey: rgb(170,170,170);
$lightgrey: rgb(190,190,190);
$lightblue: rgb(217,221,232);
$blue: rgb(64,74,102);
$green: rgb(159,231,159);
$red: rgb(231,159,159);